@font-face {
  font-family: "SmashFont";
  src: url("/resources/super_smash_4_1_by_pokemon_diamond-d7zxu6d.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body{
    margin: 2% 3%;
}

html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
&::-webkit-scrollbar {
    display: none;
  }
}

h1{
    font-size: 5rem;
    margin: 0;
    font-family: "SmashFont", sans-serif;
    text-transform: uppercase;
}

main button {
    padding: 1rem;
    height: 100%;
}

form {
    display: flex;
}

#bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#character_interface { 
    display: flex;
    flex-wrap: wrap; 
    width: fit-content;
    margin:1vh 0; 
    padding-inline-start: 0;
    justify-content: center;
}

#character_interface li {
    width: 4rem;
    height: 3rem;
    margin: 0.5rem;
    padding: 0.7rem;
    animation: hueShift 60s linear infinite;
    list-style: none;
    border-radius: 15%;
    box-shadow: 0.4rem -0.4rem rgba(81, 14, 14, 0.12) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes hueShift {
    0%   { background-color: hsla(344, 90%, 75%, 0.7); }
    50% { background-color: hsla(207, 90%, 75%, 0.6); }
    100% { background-color: hsla(344, 90%, 75%, 0.7); }
}

#character_interface li:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#character_interface li.disabled {
    filter: brightness(0.5);
}

#character_interface li.disabled img{
    filter: grayscale(95%);
}

#character_interface li img {
   height: 100%;
   width: auto;
}

#pools {
    margin: 8vh 0;
    padding: 0;
    list-style: none;
}

#poolNameForm input,
#poolNameForm button {
    font-size: 1.5rem;
    padding: 1em;
}

#buttonInterface {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.pool {
    display: flex;
    align-items: center;
    background: whitesmoke;
    padding: 0;
    margin: 1rem 0rem;
    height: fit-content;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 4px 4px  rgba(0, 0, 0, 0.1) ;

}

.poolTextField{
    display: flex;
    width: 20%;
    height: 100%;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-wrap: anywhere;
    margin: 1rem;
}

.poolTextField p {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(43, 43, 43);
}

.poolIconField{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: fit-content;
    border-radius: 1rem;
}
.poolIconField img{
    width: 2.5rem;
    height: 2.5rem;
}

.poolUIField{
    display: flex;
    flex-direction: column;
    
    width: 15%;
    height: 100%;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.poolUIField input{
    width: 2rem;
    height: 2rem;
}
.poolUIField button{
    font-size: 1rem;
    padding: 1rem;
}
.poolUIField > *{
    margin: 2rem 1rem;
}

#characterPopup {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    background-color: rgb(243, 243, 243);
    border-radius: 2rem;
}

.characterDisplaySection {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 2rem;
    overflow-wrap: anywhere;
}


button {
    cursor: pointer;
}

.playButton {
    font-size: 5rem;
    padding: 2rem 7rem;
    box-shadow: 3rem 3rem rgba(0, 0, 0, 0.1) ;
}
.playButton:hover{
    transform: scale(1.07);
    transform-origin: center;
}

.setButtons{
    display: flex;
}
.setButtons > button{
    font-size: large;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

