body{
    margin: 2% 5%;
}

#bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#character_interface { 
    display: flex;
    flex-wrap: wrap; 
    width: fit-content;
    margin:5vh 0; 
}

#character_interface li {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    padding: 0.7rem;
    background-color: antiquewhite;
    list-style: none;
    border-radius: 10%;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.1) ;
}

#character_interface li:hover {
    transform: scale(1.3);
}

#character_interface li.disabled {
    background-color: rgb(221, 203, 181) ;
}

#pools {
    margin: 10vh 0;
    padding: 0;
    list-style: none;
    
}

#poolNameForm input,
#poolNameForm button {
    font-size: 1.5rem;
    padding: 1em;
}

.pool {
    display: flex;
    background: whitesmoke;
    padding: 0;
    margin: 1rem 0rem;
    height: 20vh;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 4px 4px  rgba(0, 0, 0, 0.1) ;

}

.poolTextField{
    display: flex;
    width: 25%;
    height: 100%;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.poolTextField p {
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(43, 43, 43);
    font-family: sans-serif;
}

.poolIconField{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
    border-radius: 1rem;
}

.poolUIField{
    display: flex;
    flex-direction: column;
    
    width: 10%;
    height: 100%;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.poolUIField input{
    transform: scale(2);
    transform-origin: center;
}
.poolUIField button{
    font-size: 1rem;
}

.playButton {
    font-size: 5rem;
    padding: 3rem;
    box-shadow: 3rem 3rem rgba(0, 0, 0, 0.1) ;
}


